<h2 mat-dialog-title [innerHTML]="data.title"></h2>
<mat-dialog-content [innerHTML]="data.message"></mat-dialog-content>
<div style="height:60vh;" id='radar-map' class="map">{{this.gmap}}</div>
<div class="col">
  <!-- <agm-map id="radar-map" [latitude]="lat" [longitude]="lng" [zoom]="8">
    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true">
    </agm-marker>
    <agm-data-layer [geoJson]="radarLayer"></agm-data-layer>
  </agm-map> -->
<mat-dialog-actions class="flexbox-parent">
  <div class="row justify-content-center">

    <div class="col">
      <button mat-button mat-raised-button color="primary" *ngIf="data.showOKBtn" (click)="close()">OK</button>
      <button mat-button mat-raised-button mat-dialog-close *ngIf="data.showCancelBtn">Cancel</button>
    </div>
  </div>
</mat-dialog-actions>