<div *ngIf="rainfall !== undefined || rainfall !== null">
  <h2 mat-headlne [innerHTML]="data.title"></h2>
  <mat-divider class="mt-3"></mat-divider>

  <mat-dialog-content class="mat-subheading-1" [innerHTML]="data.message"></mat-dialog-content>
</div>
<div *ngIf="rainfall === undefined || rainfall === null">
  <h2 mat-headlne>Current Radar</h2>
  <mat-divider class="mt-3"></mat-divider>
</div>
<mat-divider class="mb-4"></mat-divider>

<div style="height:60vh;" id='radar-map' class="map">{{this.gmap}}</div>
<div class="col">
  <!-- <agm-map id="radar-map" [latitude]="lat" [longitude]="lng" [zoom]="8">
    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true">
    </agm-marker>
    <agm-data-layer [geoJson]="radarLayer"></agm-data-layer>
  </agm-map> -->
  <mat-dialog-actions class="flexbox-parent">
    <div class="row justify-content-center">

      <div class="col">
        <button mat-button mat-raised-button color="primary" *ngIf="data.showOKBtn" (click)="close()">OK</button>
        <button mat-button mat-raised-button mat-dialog-close *ngIf="data.showCancelBtn">Cancel</button>
      </div>
    </div>
  </mat-dialog-actions>
