#stranded-okay {
  background-color: #FFEB3B;
  color: black 87;
  height: 15rem;
  padding: 1.2rem;
  position: relative
}

#stranded-okay h6 {
  position: absolute;
  bottom: 0;
  font-size: 1.8rem
}

#stranded-okay .btn-primary {
  background-color: #FFFF8D;
  color: black
}
