<div class="container">
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Contact #1</h5>
        <div class="card-body">
          <p>Enter a name and a telephone number for a person you'd like to contact in the event of a flood.</p>
          <form>
            <div class="form-group">
              <div class="mb-3">
                <label for="contact-name">Name</label>
                <input type="text" class="form-control" id="contact-name">
              </div>
              <div>
                <label for="contact-phone">Phone</label>
                <input type="tel" class="form-control" id="contact-phone">
              </div>
            </div>

          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm">ADD CONTACT</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Contact #2</h5>
        <div class="card-body">
          <p>Enter a name and a telephone number for a person you'd like to contact in the event of a flood.</p>
          <form>
            <div class="form-group">
              <div class="mb-3">
                <label for="contact-name">Name</label>
                <input type="text" class="form-control" id="contact-name">
              </div>
              <div>
                <label for="contact-phone">Phone</label>
                <input type="tel" class="form-control" id="contact-phone">
              </div>
            </div>

          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm">ADD CONTACT</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Contact #3</h5>
        <div class="card-body">
          <p>Enter a name and a telephone number for a person you'd like to contact in the event of a flood.</p>
          <form>
            <div class="form-group">
              <div class="mb-3">
                <label for="contact-name">Name</label>
                <input type="text" class="form-control" id="contact-name">
              </div>
              <div>
                <label for="contact-phone">Phone</label>
                <input type="tel" class="form-control" id="contact-phone">
              </div>
            </div>

          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm">ADD CONTACT</button>
        </div>
      </div>
    </div>
  </div>
  <h1 class="pt-5 pb-5"></h1>
</div>
