<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Contact #1
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field *ngIf="name1">
      <input (change)="handleName1($event)" matInput placeholder={{name1}}>
    </mat-form-field>
    <mat-form-field *ngIf="!name1">
      <input (change)="handleName1($event)" matInput placeholder="name">
    </mat-form-field>

    <mat-form-field *ngIf="phone1">
      <input (change)="handlePhone1($event)" matInput type="tel" min="1" placeholder={{phone1}}>
    </mat-form-field>
    <mat-form-field *ngIf="!phone1">
      <input (change)="handlePhone1($event)" matInput type="tel" min="1" placeholder="phone">
    </mat-form-field>

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Contact #2
      </mat-panel-title>

    </mat-expansion-panel-header>

    <mat-form-field *ngIf="name2">
      <input (change)="handleName2($event)" matInput placeholder={{name2}}>
    </mat-form-field>
    <mat-form-field *ngIf="!name1">
      <input (change)="handleName2($event)" matInput placeholder="name">
    </mat-form-field>

    <mat-form-field *ngIf="phone2">
      <input (change)="handlePhone2($event)"matInput type="tel" min="1" placeholder={{phone2}}>
    </mat-form-field>
    <mat-form-field *ngIf="!phone2">
      <input (change)="handlePhone2($event)" matInput type="tel" min="1" placeholder="phone">
    </mat-form-field>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Contact #3
      </mat-panel-title>

    </mat-expansion-panel-header>

    <mat-form-field *ngIf="name3">
      <input (change)="handleName3($event)" matInput placeholder={{name3}}>
    </mat-form-field>
    <mat-form-field *ngIf="!name3">
      <input (change)="handleName3($event)" matInput placeholder="name">
    </mat-form-field>

    <mat-form-field *ngIf="phone3">
      <input (change)="handlePhone3($event)" matInput type="tel" min="1" placeholder={{phone3}}>
    </mat-form-field>
    <mat-form-field *ngIf="!phone3">
      <input (change)="handlePhone3($event)" matInput type="tel" min="1" placeholder="phone">
    </mat-form-field>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="submitContacts()">Submit</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
