<div class="container">
  <div class="row">
    <div class="col mt-2">
      <h5>I'm safe, and I'm moving</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="message" class="bmd-label-floating">Message</label>
          <textarea class="form-control" id="message"
            rows="3">I’ve been caught in a flood, but I’m OK. I’m headed to higher ground and my route is attached.</textarea>
          <span>We'll send this message, along with your route, to .</span>
        </div>
        <button class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary btn-raised">Submit</button>

      </form>
    </div>
  </div>
</div>
