.circleBase {
  border-radius: 50%;
}

.type1 {
  width: 3rem;
  height: 3rem;
  background: #2196F3;
  border: .2rem solid #0D47A1;
  margin-top: .5rem;
  line-height: 3rem;
  text-align: center;
  vertical-align: middle;
  // display: table-cell;
  ;
}

.custom-class {
  color: white;
}
