<!--The mat-toolbar is our header. It is where the hanburger and the radar/rainfall buttons will go.-->
<mat-toolbar class="header-nav mat-elevation-z4">
  <div *ngIf="userId === 'null'">
    <a [href]="googleLoginUrl"><button color="primary" mat-button>LOGIN</button></a>
  </div>
  <span *ngIf="userId !== 'null'"> <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu>
      <button mat-menu-item routerLink="/add-contacts" routerLinkActive="active">
        <span>Edit Contacts</span>
      </button>
      <button mat-menu-item routerLink="/user-reports" routerLinkActive="active">
        <span>Edit Active Reports</span>
      </button>
      <mat-divider></mat-divider>

      <button mat-menu-item>
        <a [href]="googleLogoutUrl"><button (click)='logout()'>Logout</button></a>
        <!-- <span>Logout</span> -->
      </button>

    </mat-menu>
  </span>
  <span class="example-fill-remaining-space"></span>

  <span [routerLink]="['/']">Rising Waters</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span> <button mat-flat-button color="primary" (click)='openDialog()'>
      <div class="circleBase type1">{{rainfall}}"</div>

      <!-- this is where the rainfall total will go -->
    </button>
  </span>
</mat-toolbar>
