<div class="container">
  <div class="row mt-4">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Find a Route</h5>
        <div class="card-body">
          <p>Enter your location and your destination and we'll do our best to get you around potential and reported
            flooding.</p>
          <div class="form">
            <div class="form-group">
              <app-auto-search-start></app-auto-search-start>
              <app-auto-search></app-auto-search>
              <button class="btn btn-primary mt-2 btn-sm" (click)="getDirections()">GET ROUTE</button>
            </div>
          </div>
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]=15>
            <div *ngIf="autoSearchStart; else currLocation">
              <agm-marker [latitude]="autoSearchStart.lat" [longitude]="autoSearchStart.lng"></agm-marker>
            </div>
            <ng-template #currLocation>
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </ng-template>
            <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng"
              [iconUrl]='otherUserMarker'>
              <agm-info-window><img src="{{marker.img}}" width="200"> {{marker.desc}}</agm-info-window>
            </agm-marker>
            <agm-direction [origin]="origin" [destination]="destination" [waypoints]="wayPoints">
            </agm-direction>
          </agm-map>
        </div>
      </div>
      <h1 class="pt-5 mb-5"></h1>
    </div>
  </div>
</div>
