<!-- <div class="md-padding" layout="column" layout-fill> -->


<div class="navbar" id="footer">
  <div class="row">
    <span><button class="material-icons md-48" routerLink="/route" routerLinkActive="active">
        directions
      </button></span>
    <span class="example-fill-remaining-space"></span>

    <span><button class="material-icons md-48" routerLink="/create-report" routerLinkActive="active">
        warning
      </button> </span>
    <span class="example-fill-remaining-space"></span>

    <span><button class="material-icons md-48" routerLink="/connect-contacts" routerLinkActive="active">
        message
      </button> </span>
  </div>
</div>

<!-- <footer layout="row" class="navbar">
  
  <div layout='column'>
    <i class="material-icons">
      directions
    </i>
  </div>
  <span class="example-fill-remaining-"></span>
  <div layout='column'>
    <i class="material-icons">
      warning
    </i>
  </div>
  <span class="example-fill-remaining-"></span>
  <div layout='column'>

    <i class="material-icons">
      message
    </i>
  </div>
</footer> -->
<!-- </div> -->
