<!-- <div class="md-padding" layout="column" layout-fill> -->
<mat-toolbar id="footer" class="mat-elevation-z8" color="primary">
  <span class="example-fill-remaining-space"></span>
  <div routerLink="/route" routerLinkActive="active">
    <div class="material-icons md-48">
      directions
    </div><br>
    <p>Find a route</p>
  </div>
  <span class="example-fill-remaining-space"></span>
  <div routerLink="/create-report" routerLinkActive="active">
    <div class="material-icons md-48">
      warning
    </div><br>
    <p>Report flooding</p>
  </div>
  <span class="example-fill-remaining-space"></span>
  <div routerLink="/connect-contacts" routerLinkActive="active">
    <div class="material-icons md-48">
      message
    </div><br>
    <p>Contact friends</p>
  </div>
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>



<!-- <div id="footer">
  <div class="container pt-1">
    <div class="row pb-1 mt-3">
      <div class="col-4">
        <a class="material-icons md-48" routerLink="/route" routerLinkActive="active">
          directions
        </a><br>
        <p>Find a route</p>
      </div>
      <div class="col-4">
        <a class="material-icons md-48" routerLink="/create-report" routerLinkActive="active">
          warning
        </a><br>
        <p>Report flooding</p>
      </div>
      <div class="col-4">
        <a class="material-icons md-48" routerLink="/connect-contacts" routerLinkActive="active">
          message
        </a><br>
        <p>Contact friends</p>
      </div>
    </div>
  </div>
</div> -->
