.example-fill-remaining-space {
  flex: 1 1 auto;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #0D47A1;
  padding-top: 10;
  text-align: center;

  color: #2196F3;

  &:hover {
    color: white
  }

  p {
    font-size: .7rem;
    // color: #2196F3;
  }
}

.material-icons.md-48 {
  color: #2196F3;
  font-size: 4.2rem;
  padding-top: 1
}
