.example-fill-remaining-space {
  flex: 1 1 auto;
}

#footer {
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

p {
  font-size: .7rem;
  margin-top: -1.5rem;
  color: #BBDEFB;
}


.material-icons.md-48 {
  color: #BBDEFB;
  font-size: 2.4rem;
  padding-top: 2rem;
}

a {
  text-decoration: none;
}
