<!-- <div class="md-padding" layout="column" layout-fill> -->
<div id="footer" class="mat-elevation-z4">
  <mat-toolbar color="primary">
    <span><a class="material-icons md-48" routerLink="/route" routerLinkActive="active">
        directions
      </a><br>
      <p>Find a route</p>
    </span>
    <span class="example-fill-remaining-space"></span>
    <span>
      <a class="material-icons md-48" routerLink="/create-report" routerLinkActive="active">
        warning
      </a><br>
      <p>Report flooding</p>
    </span>
    <span class="example-fill-remaining-space"></span>
    <span>
      <a class="material-icons md-48" routerLink="/connect-contacts" routerLinkActive="active">
        message
      </a><br>
      <p>Contact friends</p>
    </span>
  </mat-toolbar>
</div>



<!-- <div id="footer">
  <div class="container pt-1">
    <div class="row pb-1 mt-3">
      <div class="col-4">
        <a class="material-icons md-48" routerLink="/route" routerLinkActive="active">
          directions
        </a><br>
        <p>Find a route</p>
      </div>
      <div class="col-4">
        <a class="material-icons md-48" routerLink="/create-report" routerLinkActive="active">
          warning
        </a><br>
        <p>Report flooding</p>
      </div>
      <div class="col-4">
        <a class="material-icons md-48" routerLink="/connect-contacts" routerLinkActive="active">
          message
        </a><br>
        <p>Contact friends</p>
      </div>
    </div>
  </div>
</div> -->
