/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height: 100%;
  background-color: #E3F2FD
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header-nav {
  background-color: #2196F3;
  color: white
}
