@import '~@angular/material/theming';
@include mat-core();


$rw-custom-primary: mat-palette($mat-blue, 900, 50, 500);
$rw-custom-accent: mat-palette($mat-deep-purple, 100, 500, A100);
$rw-custom-warn: mat-palette($mat-lime);

$rw-custom-theme: mat-light-theme($rw-custom-primary, $rw-custom-accent, $rw-custom-warn);

@include angular-material-theme($rw-custom-theme);
