<div class="container">
  <div class="row">
    <div class="col mt-4">
      <h5>I'm stranded, but I'm okay.</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="message" class="bmd-label-floating">Message</label>
          <textarea class="form-control" id="message" rows="3" (change)="handleInput($event)">{{message}}</textarea>
          <span>We'll send this message, along with your location, to .</span>

        </div>
        <button class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary btn-raised" (click)="sendMessage()">Submit</button>

      </form>
    </div>
  </div>
</div>
