<div class="container">
  <div class="row mt-5">
    <div class="col">
      <button class="btn btn-primary btn-raised btn-block" routerLink="/route" routerLinkActive="active">
        FIND A ROUTE
      </button>
      <button class="btn btn-warning btn-raised btn-block" routerLink="/create-report" routerLinkActive="active">
        REPORT FLOODING
      </button>
      <button class="btn btn-danger btn-raised btn-block " routerLink="/connect-contacts" routerLinkActive="active">
        CONTACT FRIENDS
      </button>

    </div>
  </div>
</div>
