<div class="container">
  <div class="row home-section" routerLink="/route">
    <button mat-fab color="primary"><i class="material-icons ">
        directions
      </i></button>
    <h1 mat-headline class="home-header">Find a route</h1><br>
    <p class="mat-body-1">Give us a destination and we’ll give you a route around potential flooding.
    </p>
  </div>

  <div class="row home-section" routerLink="/create-report">
    <button mat-fab color="primary"><i class="material-icons">
        warning
      </i></button>
    <h1 mat-headline class="home-header">Report flooding</h1><br>
    <p class="mat-body-1">Help improve our ability to get your fellow New Orleanians through the flood.
    </p>
  </div>
  <div class="row home-section" routerLink="/connect-contacts">
    <button mat-fab color="primary"><i class="material-icons">
        message
      </i></button>
    <h1 mat-headline class="home-header">Contact friends</h1><br>
    <p class="mat-body-1">Message your emergency contacts to tell them where you are or where you’re going.
    </p>
  </div>
</div>


<!-- <div class="container">

  <div class="row" routerLink="/route">
    <div class="col-2">
      <img id="find-route" src="../../assets/images/HomePage find route.png" alt="">
    </div>
    <div class="col-8 header-text">Find a route<br>
      <p class="mat-body-1">Give us a destination and we’ll give you a route around reported and potential flooding.
      </p>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="row" routerLink="/create-report">
    <div class="col-2">
      <img id="report-flooding" src="../../assets/images/HomePage report flooding.png" alt="">
    </div>
    <div class="col-8 header-text">Report flooding<br>
      <p class="mat-body-1">Help improve our ability to get fellow New Orleanians through the flood by reporting
        flooding.
      </p>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="row" routerLink="/connect-contacts">
    <div class="col-2">
      <img id="connect-contacts" src="../../assets/images/HomePage contact.png" alt="">
    </div>
    <div class="col-8 header-text">Contact friends<br>
      <p class="mat-body-1">Easily message your emergency contacts to tell them where you are or where you’re going.
      </p>
    </div>
  </div>
</div> -->
