.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.row {
  position: relative;
  text-align: left;
  font-weight: 100;
  color: black;
}

.header-text {
  position: absolute;
  top: 0;
  left: 8rem;
  font-size: 2rem;
}

.spacer {
  height: 3rem;
  margin-top: 2rem;
}


#find-route {
  display: inline-block;
}
